extends ../layout

block content 
    a(href='bicicletas') Volver

    br
    br
    br

    h1 Actualizar Bicicleta

    br
    br

    from(action=`/biciciletas/${bici.id}/update` method='post')
        label(for="id") Id:
        input#id(type="text" name="id" value=bici.id)
        br
        label(from='modelo') Modelo:
        input#modelo(type="text" name="modelo" value=bici.color)
        br
        label(from='modelo') Color:
        input#color(type="text" name="color" value=bici.modelo)
        br
        label(from='lat') Latitud:
        input#modelo(type="text" name="lat" value=bici.ubicacion[0])
        br
        label(from='lng') Longitud:
        input#modelo(type="text" name="lng" value=bici.ubicacion[1])
        br
        br
        input.btn(type="submit" name="OK")
